html {
	font-size: 62.5%;
}
body {
	/* Background pattern from Toptal Subtle Patterns */
	background-image: url("img/prism-green.png");
}
nav {
	font-size: 2rem;
	text-transform: uppercase;
}
.navbar-toggler {
	font-size: 2.5rem;
}
.navbar-brand {
	font-size: 2.5rem;
	font-weight: bold;
	text-transform: none;
}
.footerText {
	font-size: 1.5rem;
	font-family: "Red Hat Mono", monospace;
}
.bigPartOfLogo {
	font-family: "Zen Antique Soft", serif;
	font-size: 5.5rem;
	font-weight: bold;
}
.smallPartOfLogo {
	font-family: "Red Hat Mono", monospace;
	font-size: 2.5rem;
	font-style: oblique;
}
.logInSmallMenu {
	right: 0;
	position: absolute;
	text-align: right;
	z-index: 12;
	top: 5px;
	margin-right: 5px;
	font-size: 16px;
	font-weight: bold;
}
a:link {
	color: #000;
	text-decoration: none;
}
a:visited {
	color: #000;
}
a:hover {
	color: #000;
}
a:active {
	color: #000;
}
.contentBlock {
	margin-left: auto;
	margin-right: auto;
	width: 750px;
	margin-top: 50px;
}
.menuTextBlock {
	width: 500px;
	margin-left: auto;
	margin-right: auto;
}
.greetings {
	font-size: 6rem;
	font-weight: bold;
}
.websiteDescription {
	font-weight: bold;
	font-size: 2rem;
}
.contact {
	position: absolute;
	left: 25%;
	top: 25%;
	font-size: 3rem;
}
input[type="text"],
input[type="password"],
input[type="email"],
input[type="number"],
.selectMenu {
	font-size: 2rem;
	height: 40px;
}
input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
input[type="date"]:focus,
input[type="number"]:focus,
.selectMenu:focus {
	-webkit-box-shadow: 0px 0px 10px 2px rgba(122, 163, 82, 0.9);
	-moz-box-shadow: 0px 0px 10px 2px rgba(122, 163, 82, 0.9);
	box-shadow: 0px 0px 10px 2px rgba(122, 163, 82, 0.9);
	border: 2px solid #94be94;
}
.submit-btn {
	font-size: 2.5rem;
	background-color: #0f8f13;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	letter-spacing: 2px;
	outline: none;
	color: #dcd;
}
input[type="submit"]:focus {
	-webkit-box-shadow: 0px 0px 15px 5px rgba(172, 204, 139, 0.9);
	-moz-box-shadow: 0px 0px 15px 5px rgba(172, 204, 139, 0.9);
	box-shadow: 0px 0px 15px 5px rgba(172, 204, 139, 0.9);
}
input[type="submit"]:hover {
	background-color: #26a82c;
}
input[type="date"] {
	width: 200px;
	margin-left: 10px;
	font-size: 2rem;
	text-align: center;
}
.balanceTable{
	border: 2px solid white;
}
